<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy form generator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="create amazing forms without coding: form editor based on angular formly">
    <meta name="author" content="Erwan Datin (MacKentoch)">
    <style type="text/css">
      [ng-cloak] {
        display: none;
      }
    </style>
    
  </head>
  <!-- NOTE : ng-cloak here is not optimal solution : better to use it only where it is needed (I just take a shortcut as this an example not a production sample)  -->
  <body ng-controller="demoController as demoCtrl" ng-cloak>
    <div>
      <!-- navigation : just decoration it is not easy form generator
      =============================================================-->
      <header id="pageHeader" >
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <a 
                  class="navbar-brand" 
                  href="#">
                  Easy form generator
                </a>
                <button 
                  class="navbar-toggle" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div 
                class="navbar-collapse collapse" 
                id="navbar-main">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
                    <a 
                      href="#" 
                      class="dropdown-toggle" 
                      data-toggle="dropdown" 
                      role="button" 
                      aria-expanded="false">
                      Switch language
                      <span class="caret"></span></a>
                      <ul 
                        class="dropdown-menu" 
                        role="menu">
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('en')">English</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('fr')">French</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('es')">Spanish</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('de')">German</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('jp')">Japanese</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('tr')">Turkish</a></li>
                        <li><a href="#" ng-click="demoCtrl.switchLanguage('pt-br')">Brasilian portuguese</a></li>
                      </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="socialIcon" target="_blank" href="https://github.com/MacKentoch"><span class="text-center"><i class="fa fa-github"></i></span></a></li>
                  <li><a class="socialIcon" target="_blank" href="https://twitter.com/erwan_datin"><span class="text-center"><i class="fa fa-twitter"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
      </header>
      <!-- Easy Form Generator (here step way) is now a ridiculous small html :
      =============================================================-->
      <eda-step-way-easy-form-gen
        eda-easy-form-generator-model="demoCtrl.easyFormGeneratorModel"
        eda-save-form-event="demoCtrl.saveForm(edaEasyFormGeneratorModel)">
      </eda-step-way-easy-form-gen>
    </div>
    <!-- footer : declare JS dependencies
    =============================================================-->
    <footer id="pageFooter">
      <script src="./node_modules/textangular/dist/textAngular-rangy.min.js"></script>
      <script src="./public/assets/"></script>
    </footer>
  </body>
</html>
